/* Header and content area start here */
#bp-services-root {
  width: 97%;
  margin: auto;
  height: 900px;
  background: #ededf5;
}

.bp-service-container {
  height: 100%;
}
.bp-ser-content {
  width: 93.5%;
  margin: auto;
  height: 84%;
  background: white;
  border-radius: 30px 30px 15px 15px;
  padding: 30px 20px;
  margin-top: 30px;
}
.bp-ser-cont-inner {
  height: 100%;
}
.bp-ser-ci-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.add-service {
  background: #687de8;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
}
.bp-ser-ci-second {
  position: relative;
  height: 600px;
}
.bp-ser-table-head {
  height: 60px;
  background: #dcdcf3;
}
.bp-ser-table-item {
  height: 50px;
  font-weight: 500;
  text-align: center;
  background: #f6f6fc;
}
tr.bp-ser-table-item:hover {
  background: #dcdcf3cc;
  transition: 0.2s;
}

span.dashicons.dashicons-trash {
  width: 20px;
  color: #525281;
  padding: 6px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}
span.dashicons.dashicons-trash:hover {
  color: white;
  background: #ee2445;
}
span.dashicons.dashicons-edit {
  width: 20px;
  color: #525281;
  padding: 6px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}
span.dashicons.dashicons-edit:hover {
  color: white;
  background: #687de8;
}

.active {
  background: #687de8 !important;
  color: white !important;
}
span.status-active {
  padding: 5px 10px;
  background: #687de8;
  border-radius: 20px;
  color: white;
  text-transform: capitalize;
}
span.status-inactive {
  padding: 5px 10px;
  background: #ffc107;
  border-radius: 20px;
  color: black;
  text-transform: capitalize;
}
.service-pagination {
  height: 100px;
}
.pagi-active {
  margin: 0px 15px;
  background: #687de8;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
}
.pagi-deactive {
  margin: 0px 15px;
  border: none;
  color: #687de8;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
}

/* Popup start here */
.service-heading {
  text-align: center;
  padding: 20px 20px;
  margin-top: 0px;
  font-size: 21px;
}
.service-form-inner {
  max-width: 500px;
}
.service-first {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.service-second {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.service-sub {
  padding: 7px 30px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  margin-top: 50px;
  margin-right: 20px;
  background: #687de8;
  color: white;
  cursor: pointer;
}
.service-can {
  padding: 7px 30px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  margin-top: 50px;
  color: #687de8;
  cursor: pointer;
}
.service-first input {
  padding: 5px 10px;
  border-radius: 5px;
  width: 33%;
  margin-left: 5px;
}
.service-second textarea {
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
}
.service-up-first {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.service-up-second {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.service-up-third {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.service-up-first input {
  padding: 5px 10px;
  border-radius: 20px;
  width: 47%;
  margin-left: 5px;
}
.service-up-second input {
  padding: 5px 10px;
  border-radius: 20px;
  width: 47%;
  margin-left: 5px;
}
.service-up-second select {
  padding: 5px 10px;
  border-radius: 20px;
  width: 47%;
  margin-left: 5px;
}
.service-up-third textarea {
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
}
/* Popup finished here */
.bp-ser-no-data img {
  margin: auto;
  width: 300px;
}

.bp-ser-no-data {
  text-align: center;
  position: relative;
  top: 100px;
}
.no-data {
  margin: 0px 15px;
  border: none;
  color: #687de8;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 500;
  background: #ededf5;
}
